* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow: auto;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}

/* IE antigo */
body {
  -ms-overflow-style: none;
}

.landing {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#221b1b00, rgb(0, 0, 0)), url('./img/bckgroundimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.headerimg{
    position: relative;
    width: 8rem;
    height: 10rem;
    animation: aparecer 0.5s ease-out;
}

.header {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #311414;
    height: 70px;
    animation: aparecer 0.5s ease-out;
}

/* Botão continua na direita */
.menu-btn {
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  top: 10px;
  z-index: 1001;
  color: white;
}

/* Menu */
.sidebar {
  position: absolute;
  top: -400px;
  right: 0px;
  width: 280px;
  background: #311414;
  height: 40vh;
  padding: 15px 0;
  transition: 0.4s ease;
  z-index: 1000;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  margin-top: 2vh;
}

.sidebar a:hover {
  background: #333;
}

.sidebar.active {
  top: 60px;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(-150px); }
    to { opacity: 1; transform: translateY(0); }
}

.infos a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.agendar {
    background: #696453;
    padding: 15px 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
    color: white;
}

.agendar:hover { background: #ffffff; color: #073e15; }

.main-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.search-container { width: 100%; max-width: 850px; }

.tabs { display: flex; gap: 5px; flex-wrap: wrap; }

.tab-btn {
    margin-top: 15%;
    padding: 12px 25px;
    border: none;
    background: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.tab-btn.active {
    background: #fff;
    color: #073e15;
}

.search-box {
    background: white;
    padding: 30px;
    border-radius: 0 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
}

.field-group { display: flex; flex-direction: column; gap: 5px; }

.select-imobiliaria {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-buscar-main {
    background: #000000;
    color: white;
    border: none;
    padding: 0 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    align-self: flex-end;
}

.secondstage {
  padding: 40px;
  align-items: center;
  padding-top: 15vh;
  background-color: #311414;
}

h2 {
  margin-bottom: 10px;
  font-size: 50px;
  margin-left: 25vh;
  color: #fff;
}

.btn {
  background: #000000;
  color: white;
  border: none;
  padding: 14px 100px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 5vh;
  margin-left: 25vh;
  font-size: 20px;
}

.cards {
  display: flex;
  gap: 50px;
  margin-top: 10vh;
  margin-left: 25vh;
  margin-bottom: 15vh;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h3 {
  font-size: 15px;
  margin: 0 0 5px;
}

.local {
  font-size: 13px;
  color: gray;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 13px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #0b1c3f;
}

.containermap{
  font-family: Arial;
  padding: 40px;
  background: #311414;
  margin-top: 10vh;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-bottom: 10vh;
}

.map-container {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

#map {
  height: 500px;
  width: 100%;
}

.busca {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #5fa8d3;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  z-index: 1000;
  cursor: pointer;
}

.info-sobrenos {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #311414;
  padding: 100px;
  color: #fff;
}

.h3-1{
  font-size: 3vh;
  margin-left: 20vh;
}

.info-sobrenos p{
  margin-top: 3vh;
  margin-left: 20vh;
}

.h3-2{
  margin-top: 10vh;
  margin-left: 20vh;
  font-size: 3vh;
}


@media (max-width: 768px) {

  h2,
  .btn,
  .cards,
  .containermap,
  .h3-1,
  .h3-2,
  .info-sobrenos p {
    margin-left: 20px !important;
    margin-right: 20px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-box {
    grid-template-columns: 1fr !important;
  }


  #map {
    height: 300px;
  }

  h2 {
  margin-left: 0 !important;
  text-align: center;
  padding: 0 20px;
  }

  .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;

  display: block;         
  width: calc(100% - 40px); 
    
  margin: 20px auto;       
  text-align: center;
  }
}

